body {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    overflow-x: hidden;
    overflow-y: hidden;
}


a {
    text-decoration: none;
    color: black;
}

.App {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8pt;
    background-color: orange;
    width: 100%;
    margin: 0;
    font-size: 16pt;
    font-weight: 500;
}


